services:
  web_api:
    build: .
    env_file:
      - .env
    command: >
      sh -c "uv run src/manage.py migrate --noinput &&
           if [ \"$DJANGO_ENV\" = 'production' ]; then
             uv run src/manage.py collectstatic --noinput &&
             uv run gunicorn app.wsgi:application --bind 0.0.0.0:${DJANGO_PORT} --chdir src --workers 4 --timeout 120;
           else
             uv run src/manage.py runserver 0.0.0.0:${DJANGO_PORT};
           fi"
    restart: always
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "${DJANGO_PORT}:${DJANGO_PORT}"
    environment:
      - DATABASE_URL=${DATABASE_URL}

volumes:
  static_volume:
  media_volume:
