services:
  web_api:
    volumes:
      - .:/app
    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - .venv/
            - .uv/
            - __pycache__/
            - "*.pyc"
            - "*.pyo"
            - db.sqlite3

        - action: rebuild
          path: ./pyproject.toml
